/* DEFINIÇÕES GERAIS */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}

/* CABECALHO */
.logo{
    width: 56px;
    height: 56px;
    float: left;
    background: url("../img/icon.jpg") center center/56px no-repeat ;
    font-size: 0;
}